[2014-10-17 10:36] jayachandrak opened #12 "DraggablePanel and VideoPlayer usage generates some empty spaces between dragged view and second view."
Added two fragments to DraggablePanel
one is Video player second one is list fragment

while maximizing the view, videoview is getting moved slightly  then it will have some empty space in corners
its not happening with normal views like images its happening only while playing video

[2014-10-24 19:53] manpreetsinghsodhi commented on #12
i guess same is happening in my case. On maximising vedioview, bottom fragment is slighly moving under vedioview and lot of empty spaces can been seen. Since in my case i am using listview behind draggable panel so list view is visible . please help

[2014-10-27 11:59] pedrovgs commented on #12
@jayachandrakuruba we are trying to fix this issue, but I need to see your code to help you. My demo is working find :S. Can you give me access to your repository to take a look?

FYI, I'll try to fix a similar issue reported by @manpreetsinghsodhi.

[2014-11-11 21:03] pedrovgs commented on #12
@jayachandrakuruba I've released a new version (Release 1.3) with some fixes. Can you review if your I've fixed your problem with this release?

[2014-11-12 02:18] jayachandrak commented on #12
Sure i will test and let you know the result

Is this version supports oriantation changes?
On Nov 12, 2014 2:33 AM, "Pedro Vicente Gómez Sánchez" <
notifications@github.com> wrote:

[2014-11-30 21:16] pedrovgs commented on #12
@jayachandrakuruba I'm working to support orientation changes. Release 1.3 is working fine for you?

[2014-12-04 07:47] Amritpal33 opened #24 "DraggablePanel do not Maximize on single Tap"
Hi,
   When the Draggable panel is in minimize mode, single click does not maximizes it. A little Drag is required to maximize it.

How can i enable/fix this.?

[2014-12-04 13:43] pedrovgs commented on #24
That feature is not going to be implemented.

[2014-12-05 00:17] pedrovgs commented on #12
@jayachandrakuruba can you check if this branch or the previous release fix your problem? https://github.com/pedrovgs/DraggablePanel/tree/fix-video-view-sample-problems

[2014-12-05 02:15] jayachandrak commented on #12
I have tested it wasn't fixed my problem , are you supporting orientation
changes?
On 05-Dec-2014 5:47 am, "Pedro Vicente Gómez Sánchez" <
notifications@github.com> wrote:

[2014-12-05 10:53] Fiddl3 commented on #12
this https://github.com/Fiddl3/DraggablePanel/commit/ba33447ae423c3fa6ca4083fbb456d924eea6274 implementation of `onLayout` method should fix this issue.

[2014-12-05 14:31] pedrovgs commented on #12
@jayachandrakuruba can you upload a screenshot or video to review your problem?

[2014-12-05 14:37] Fiddl3 commented on #12
This happens when VideoView change his size to match played Video aspect ratio.
One of solution is put VideoView in container ex `FrameLayout` in that case video size changes will not affect dragView height.

[2014-12-09 05:23] vuhung3990 commented on #24
[code]

[2015-01-15 09:42] frakc opened #37 "When onMaximised|Minimised are actually called?"
Just tried to changed style of youtube player id for maximised panel and minimised. However when I drag panel up and down i never see corresponding log messages.
[code]

Note: video is paused, when closed to right or left not because of listeners, but because of " YouTube video playback stopped due to unauthorized overlay on top of player. The YouTubePlayerView is not contained inside its ancestor

[2015-01-15 10:37] frakc commented on #37
Solved
Correct way to initialise is

[code]

Contradictory to sample

[2015-01-15 10:37] #37 closed

[2015-01-16 10:13] frakc opened #38 "ResizeTransformer can't be used from DraggablePanel, you have to use DraggableView"
There were many issues, that minimised youtubeplayersupportfragment displays only topleft corner of the video. And there were recommendations which did not work: set         draggable_panel:top_view_resize="true"/ It did not work because this paramenter was never transmited to draggableview ( as i see in latest 1.6 snapshot version of source library) after I modefied
[code]
inside DragablePanel.ja

[2015-01-16 16:23] ppamorim opened #39 "(Improvement) Implement listener to Nav Drawer"
Implement a listener to move the DraggablePanel to left when the user scroll/open the nav drawer.

[2015-01-16 16:27] ppamorim opened #40 "(Improvement) Implement the overlay to bottom/top view"
Allow the user to move the bottom view over the top or vice-versa.

[2015-01-16 18:34] ppamorim opened #41 "Animation problem first click"
This view doesn't animate when the user click (or say to maximize) on the first time.

[2015-01-16 19:36] ppamorim commented on #24
Fixed on #42

[2015-01-16 19:38] ppamorim commented on #24
Found bug on #42, fixing...

[2015-01-17 19:23] ppamorim commented on #24
Fixed on #42, working now!

[2015-01-18 15:57] pedrovgs commented on #41
I don't see any problem, can you upload a video and specify better where is the problem?

[2015-01-18 15:59] pedrovgs commented on #39
That feature has to be implemented out of DraggablePanel.

[2015-01-18 15:59] #39 closed

[2015-01-18 16:00] pedrovgs commented on #40
I don't understand the effect :S do you have any schema or drawing to show me this?

[2015-01-18 16:04] pedrovgs commented on #38
DraggablePanel is a DraggableView facade and is not easy to support resize feature right now. You can use DraggableView with resize enabled and add your fragment manually as DraggablePanel does. That's why the sample code is not using this feature.

[2015-01-18 19:34] pedrovgs commented on #24
Hi @Amritpal33! @ppamorim is working on a PR to implement your requested feature. This PR will be merged and a new version of DraggablePanel will be released once the PR be ready!

[2015-01-19 00:01] frakc commented on #38
@pedrovgs  but main problem - resize transformer causes youtubefragment to be few pixel under some view, which make youtube player to stop, as anything is not allowed to be above it

[2015-01-19 09:26] pedrovgs commented on #38
Can you upload a screenshot whit your device layout bounds option activated?

[2015-01-19 09:52] frakc commented on #38
@pedrovgs  [screenshoot](http://oi58.tinypic.com/eakujb.jpg)
As You can see if you magnify image, video fragme is slightly overlaped a bottom

[2015-01-19 12:59] ppamorim opened #43 "Black screen when view is maximized (SurfaceView)"
Hi Pedro and another developers. I've found a issue with the SurfaceView and it happens sometimes, as shown in image below :
I think this may be due to GPU that doesn't run the onDraw after a while, losing your reference after a while.

Device: Galaxy S4 Mini

![screenshot_2015-01-15-03-56-47](https://cloud.githubusercontent.com/assets/5521682/5800769/0988b4e6-9fca-11e4-8356-b3276934162f.png)

[2015-01-19 19:09] ppamorim commented on #39
I'll work on it.

[2015-01-20 16:02] ppamorim commented on #43
Solved! Don't use the SurfaceView with this library, otherwise, I recommend to use the TextureView.
Sample: https://github.com/ppamorim/TextureView-Sample

[2015-01-20 16:51] #43 closed

[2015-01-25 06:55] ppamorim opened #44 "Why Sherlock instead Toolbar?"
I just see it's still use the Sherlock ActionBar in the library, it would not be interesting to implement on the sample Toolbar to keep up with new updates? as Sherlock went into space and the Compat is being depreciated?

[2015-01-25 09:48] pedrovgs commented on #44
This project is using ActionBar Sherlock just for the sample code. That's not important. I used sherlock because this repository was published before Android 5.0. If the code of the sample project is not related with DraggablePanel usage I'm not going to change it. Sorry.

[2015-01-25 09:48] #44 closed

[2015-01-25 13:58] ppamorim commented on #44
If you want, I can remake this sample with the new Material Design UI. :)

[2015-01-25 16:55] pedrovgs commented on #44
No thanks, I think the usage of ActionBar Sherlock or the new Android-L features is just a detail, what's  important for this repository is the library.

[2015-01-26 04:22] ppamorim opened #45 "Add a shadow around the DraggableView"
Hi @pedrovgs, I see as a need to implement a shadow on DraggableView equal implementation of youtube. This shadow surrounds the view and is very light. We can also implement the user the possibility to choose the nine-patch into the shade.

[2015-01-26 08:12] pedrovgs commented on #45
I'm not sure about that feature :S I don't like that shadow and the code we will have to implement to add that shadow doesn't worth.

[2015-01-26 10:48] ppamorim commented on #45
I need to do this as it's a need of the app I'm working on...

[2015-01-26 19:53] pedrovgs commented on #45
Send me a pull request, but try to keep that feature as simple as possible. Forget about customization and add just the YouTube default shadow please. I don't want to add a lot of code just to add that shadow.

[2015-01-27 10:58] ppamorim commented on #45
ok

[2015-01-27 13:13] ppamorim commented on #12
VideoPlayer extends SurfaceView, SurfaceView can't be transformed or resized.
I recommend to change to TextureView.
Look to this sample: https://github.com/ppamorim/DraggablePanel/tree/textureViewSample

[2015-01-27 13:32] Fiddl3 commented on #12
SurfaceView can be resized (can not be animated, transformed and scaled).
TextureView can only be used in a H/A windows.
TextureView use more memory, much more.
TextureView has small lag, needs 1-5 extra frames to update

So for video playback we should use overridden SV, add listeners and update SV dimensions manually when it's necessary. TV will not work on all devices (ex. wo H/A, with small am

[2015-01-27 14:53] ppamorim commented on #12
@Fiddl3 Correct! I confuse me with resized and scaled.
But the scale of SurfaceView as some problems (black borders while dragging).

[2015-01-27 15:14] Fiddl3 commented on #12
If you take care of its size (while dragging) there will not be black borders. It takes some time, but it can be done.

[2015-01-27 20:31] ppamorim commented on #12
I've removed the surfaceView if my project because it cause some problems(black screen, resize/scale)

[2015-01-27 20:43] Fiddl3 commented on #12
...and if everything works well for you, that's the most effective way, but you have to make sure that app is working as supposed on all devices you targeting - that's the main goal

[2015-01-27 22:35] pedrovgs commented on #41
@ppamorim can you show me how to reproduce this bug?

[2015-01-27 22:35] pedrovgs commented on #40
@ppamorim bump!

[2015-01-27 22:40] pedrovgs commented on #38
I don't see any problem :S can you add an arrow or something like that pointing to the problem? Why do you say that youtube player is going to stop the video if youtube fragment is under some view?

I guess you are using the last library version.

[2015-01-27 22:52] pedrovgs commented on #12
@Fiddl3 is this issue related just to VideoPlayer?

[2015-01-27 22:58] Fiddl3 commented on #12
It's related to all view all which were not designed to move/resize/transform while rendering. But we can't do anything to improve this in library.

[2015-01-27 22:58] pedrovgs commented on #12
Ok, thanks for your help!

[2015-01-27 22:58] #12 closed

[2015-01-28 13:21] ppamorim commented on #12
@Fiddl3 API 14 here :p

[2015-02-02 13:02] ppamorim commented on #40
Like AndroidSlidingUpPanel:
https://github.com/umano/AndroidSlidingUpPanel

It only can be possible when the view is maximized.

[2015-02-02 13:54] frakc commented on #38
@pedrovgs
Yes, I am using last library version.
quot from google dev https://developers.google.com/youtube/android/player/reference/com/google/android/youtube/player/YouTubePlayerFragment?hl=ru "Note that while videos are playing, this View has a minimum size of 200x110 dp. If you make the view any smaller, videos will automatically stop playing. Also, it is not permitted to overlay this fragment'

[2015-02-04 22:29] pedrovgs commented on #40
That's not in the original youtube component. I've added your feature to maximize minimize but this doesn't match with the feature look and feel. Sorry.

[2015-02-04 22:29] #40 closed

[2015-02-05 13:12] ppamorim commented on #40
Well, I believe that the library name is DraggablePanel and not YoutubePanel...
We can be better than the Youtube itself.
But what's the need for it? Sometimes it's necessary to perform this resizing in some cases such as when the user will enter text in EditText without the keyboard being on top...

[2015-02-05 13:45] ppamorim opened #47 "PointerIndex out of range"
Error on class DraggableView.java:
Line 309: viewDragHelper.processTouchEvent(ev);

Device: XT1032

LOG: http://pastebin.com/ytrb50Gj

[2015-02-06 14:16] ppamorim opened #49 "(Improvement)Toggle to FullScreen"
Do a rezise and rotate the DragView, Very useful for videos and photos.
I'll do it. :3

[2015-02-06 19:53] ppamorim commented on #49
Blood are coming out of my eyes, but I'm working on it.

[2015-02-07 11:27] pedrovgs commented on #49
Already reported in #22

[2015-02-07 17:21] ppamorim commented on #49
It's a different ideia. It will do a resize and rotate.

[2015-02-10 13:38] ppamorim commented on #24
@Amritpal33, feature implemented. That deserves a round of beer. If you aren't of legal age, otherwise the juice round... :)

[2015-02-15 17:36] #24 closed

[2015-02-18 08:59] HagerMagdy opened #51 "Eeror in runing sample project after add darragable panel as lib project"
i am runing the code in eclipse and add all library needed but this error keep crashing my app , in Read Me itis supposed to build with gradle would you please help me how to run this app in gradle may be this is my problem :(

java.lang.RuntimeException: Unable to create application com.github.pedrovgs.sample.DraggablePanelApplication: java.lang.IllegalStateException: Module adapter for class com

[2015-02-18 09:49] pedrovgs commented on #51
You have the library artifact uploaded to maven central. http://search.maven.org/#artifactdetails|com.github.pedrovgs|draggablepanel|1.7|

I'm not going to support eclipse for this project. Sorry.

[2015-02-18 09:49] #51 closed

[2015-02-18 09:55] pedrovgs commented on #51
./gradlew build

[2015-02-23 05:47] bilalilyas90 opened #52 "Auto Full screen draggable view on screen rotation."
i want to show video view in full screen using draggable view when we rotate to landscape mode.
but i am having some problem . please help me to solve this problem

[2015-02-23 11:22] ppamorim commented on #52
#49 the same opened implementation.

[2015-02-23 11:29] bilalilyas90 commented on #52
i want to use this same as youtube.... when in portrait work as default but  when landscape video is full screen.

thank you

[2015-02-23 11:40] ppamorim commented on #52
Take a fork! I will not do it for you now.

[2015-02-23 11:44] bilalilyas90 commented on #52
please guide me a little bit... i dont know what to do..

[2015-02-23 11:45] pedrovgs commented on #52
@ppamorim  is this issue duplicated?

[2015-02-23 12:31] ppamorim commented on #52
@pedrovgs Yes. This feature (rotate to fullscreen) need to be implemented out of box. But use the same ideia/methods of #49.

[2015-02-24 13:14] frakc commented on #49
@ppamorim
Hi. Do you need any help with this feature? (dont know how much i can help, but I need this feature too)

[2015-02-24 13:47] frakc commented on #52
@bilalilyas90

[code]

That actually works good for draggableView. For draggablePannel need to add extra method to pass height directly to view.

[2015-02-24 16:58] bilalilyas90 commented on #52
@frakc
thanks... This works great but when in landscape mode , when i click on top view it goes to minimize..
and in layout i even used this draggable_view:enable_click_to_minimize_view="false"  but still it goes to minize view... can u help me here ?

[2015-02-24 18:37] frakc commented on #52
@bilalilyas90  try this tweak
https://github.com/pedrovgs/DraggablePanel/issues/29
I did not tested it by myself but i hope it will help

[2015-02-24 20:37] bilalilyas90 commented on #52
@frakc
thank you alot.... this tweak helped me... :)

[2015-02-24 21:08] bilalilyas90 commented on #52
one more thing... i am using vitamio player in my app with draggable panel draggableview and when I minimize the dragview the screen of video goes to white in minimized view but is good in maximized view... can u help me here too??

[2015-02-26 06:44] bilalilyas90 opened #53 "Screen goes white when in minimize state?"
when I am in minimized state(at end of screen) screen goes white but when in maximized state and while dragging it is working fine... please help me.. screenshots are attached
http://prntscr.com/69yge2     (while dragging)
http://prntscr.com/69yfpa      (in minimized state)

[2015-02-26 10:22] frakc commented on #52
@bilalilyas90  try to replace your player with standart videoview. If behaviour consistent - it sum internal bug, if not - contact your payer developers as it might be part of player protection ( like in youtube, which stops when view overlaping is detected)

[2015-02-26 10:49] bilalilyas90 commented on #52
@frakc
I am using vitamio player library.... sometimes video comes correct in minimized view and sometimes when I am in minimized state(at end of screen) screen goes white but when in maximized state and while dragging it is working fine... please help me.. screenshots are attached

http://prntscr.com/6a0apy (sometimes correct)
http://prntscr.com/69yge2 (while dragging)
http://prntscr.com/69yfpa (

[2015-02-26 11:06] frakc commented on #52
@bilalilyas90 sorry i am unexpirienced with draggablepanel and vitamio,  I simply dont have any idea

[2015-02-26 11:08] bilalilyas90 commented on #52
@frakc no problem... and by the way thanks for the help..

[2015-02-26 11:55] ppamorim commented on #52
@frakc Vitamio Player use SurfaceView. SurfaceView has problems with resize and transform operation. You need use TextureView for it. I'll report to Vitamio dev...

The problem is here:
https://github.com/yixia/VitamioBundle/blob/master/vitamio/src/io/vov/vitamio/widget/VideoView.java

[2015-02-26 12:04] ppamorim commented on #53
@bilalilyas90 SurfaceView... bro!

[2015-02-26 12:09] ppamorim commented on #52
Please, study this branch:
https://github.com/ppamorim/DraggablePanel/tree/textureViewSample

[2015-02-26 17:00] pedrovgs commented on #53
As @ppamorim says, the problem is related with the view you are using inside DraggablePanel not with this library.

[2015-02-26 17:00] #53 closed

[2015-03-01 09:05] moondroid opened #54 "Improvement: start in closed/minimized state"
It will be very useful if the DraggableView could start closed or minimised, so if, for example, I click a list item, the DraggableView can be maximised to show the related content; or if I rotate the device when the DraggableView is minimised, it can be recreated in the minimised state.

[2015-03-03 11:39] ppamorim commented on #54
It's a common problem with this library.
We need start the view off screen (minimized and hide) and only expand this to maximized position.

[2015-03-04 10:19] frakc opened #55 "ActionBar hide/show on draggablepanel maximise/minimise"
I want to hide action bar when draggable panel is maximised and show it otherwise.
I tried
[code]
But in such aproach there is an issue: action bar is shown after DP is minimised and thus, when action bar appears it moves DP slightly down.

[2015-03-04 14:43] ppamorim opened #56 "Weird line between Views"
Hi Pedro,
I've found a problem, my layout has a line between views, look this:

![problems](https://cloud.githubusercontent.com/assets/5521682/6485565/67ca8fb4-c263-11e4-8d3d-2b862863a8c2.png)

I don't know what can be. Do you have?

Code:

    mDraggablePanel.setFragmentManager(getSupportFragmentManager());
    mDraggablePanel.setTopFragment(mVideoFragment);
    mDraggablePanel.setBottomFragment(

[2015-03-10 14:43] ppamorim commented on #47
#57 to solve it

[2015-03-11 22:34] ppamorim opened #59 "(Question) Changelog on readme"
Can be a great ideia to organize the new features...

[2015-03-15 18:09] pedrovgs commented on #59
To organize features we are using issues not a changelog. Thanks for your idea, but I prefer github issues.

[2015-03-15 18:09] #59 closed

[2015-03-21 12:56] sikandercb opened #60 "need on landscape draggable view not drag"
hi, how can i  draggable view en-ability false lansdscape mode .

[2015-03-24 00:26] pedrovgs commented on #60
Landscape mode is not supported right now with ResizeTransformer. There is an issues requesting that feature.

[2015-03-26 14:11] sikandercb commented on #60
thanks to reply sir
can you please tell me how can i disable the dragging ...? mean setenable(false) or some thing like this.
there should be function like this setDraggedToMinimizeEnabled(false)

[2015-03-29 08:57] sierra-delta commented on #38
I'm also seeing this behaviour where the youtube video will stop sometimes in minimized view.

I am using DraggableView and the youtube video resizes correctly.

03-28 15:06:47.630    3783-3783/com.myapp W/YouTubeAndroidPlayerAPI﹕ YouTube video playback stopped due to unauthorized overlay on top of player. The YouTubePlayerView is not contained inside its ancestor android.widget.FrameLayout{1e9642

[2015-03-29 10:56] v-b7 commented on #38
@ninja-tortoise There might be an issue with ResizeTransformer or with YouTubePlayerFragment. A quick fix would be to add padding or margin (bottom and right) to YouTubePlayerView after the fragment's view was created

[2015-03-29 11:46] sierra-delta commented on #38
@nostake This worked like charm. Thanks a lot.

[2015-03-29 14:54] sierra-delta commented on #52
@frakc when I add the onConfigurationChanged code you added above the video goes to landscape as expected. However, when I go to portrait after this, minimize the video, maximize it again and then rotate the device to go portrait again, the landscape video is not the correct width.
I'm using draggable view.
Is this the same for anyone else?

http://imgur.com/o2YbAQ1

[2015-03-29 15:55] bilalilyas90 commented on #52
@ninja-tortoise
yes I am also having same problem :(

[2015-03-29 16:59] pedrovgs commented on #56
No idea, but that's seems related with your code, not with the library code. Review your layouts :)

[2015-03-29 16:59] #56 closed

[2015-03-29 17:04] pedrovgs commented on #38
@ninja-tortoise can you upload your previous DraggablePanel configuration to a sample project? I'd like to fix this issue :)

[2015-03-31 12:02] HagerMagdy commented on #52
dear  pedrovgs why after added the configuration code above on click the video minimize?? any help plz

[2015-04-01 17:45] bagza opened #61 "Fragments retaining on configuration changes"
Guys, as I see, your project doesn't provide methods to retain fragments on rotation, for instance.
Using draggable panel as a part of activity layout, one should always call `draggablePanel.initializeView()` in `onCreate()` method, because it actually calls the method to inflate the `draggableView` layout. However, you need to set up top/bottom fragments before. But there is no way to get my prev

[2015-04-16 10:18] frakc commented on #52
@HagerMagdy
Its because of minimise check

[code]

you can ither edit way of minimise check or check orientation to perform or not perform some actions

[code]

[2015-04-20 19:10] dotgc commented on #40
I need to do this. I have a bottom view where user comments are shown and an EditText is provided for the viewing user to add comments. When the EditText gains focus and the keyboard is shown, I want to be able to overlay the bottom view on top of the top view. Right now, users can't even see the EditText box when the keyboard is open.

[2015-05-25 16:07] ppamorim opened #62 "Remove NineOlds"
Can you remove the NineOlds dependency? You can use ViewCompat instead.

[2015-05-26 04:28] xorRisont commented on #62
ppamorim, how to remove?

[2015-06-21 19:19] kriishna commented on #38
![landscspe](https://cloud.githubusercontent.com/assets/3479445/8273009/4b623794-1878-11e5-8c7e-12b7dd5f3fc2.png)
Hi Pedrovgs,

i had a problem with landscape view while using draggable panel, can u mention any hint or help to solve this feature.. i am trying to implement fullscreen mode...

[2015-06-22 06:55] pedrovgs commented on #38
The current workaround is change your DraggablePanel to use DraggableView. I'm trying to get time to improve this project but I'm working in another open source project right now...sorry.

[2015-06-22 20:59] ppamorim opened #63 "A question about Rebound"
Can use Rebound (Facebook library) to provide animations to fullscreen feature?
If yes, Can we create a dependency of this view to remove unecessary dependencies of this amazing library?

[2015-06-24 11:51] JoysonF opened #64 "DraggablePanel onclick Event for top view when view is minimized"
I haven't been able to find a click event for top view when draggable panel view is minimized. I want to maximize the draggable view, on click of the top view (when its in minimized state). I am implementing the same feature as in Youtube.

[2015-06-24 12:00] pedrovgs commented on #64
You have a method in `DraggablePanel` and `DraggableView` with name `setClickToMaximizeEnabled(boolean enableClickToMaximize)` which enables the effect you are looking for.

This is the `DraggableView`method implementation:

[code]

You can also enable this effect from your layout using `draggable_view:enable_click_to_maximize="false"` xml attribute:

[code]

Is this the answer to your question?

[2015-06-24 15:10] JoysonF commented on #64
Thanks pedrovgs for your prompt reply. Using setClickToMaximizeEnabled  solved my query .However When using the attritube in layout file gave me the following error :Error:(17) No resource identifier found for attribute 'enable_click_to_maximize' in package 'com.github.pedrovgs.sample'.

[2015-06-24 15:15] pedrovgs commented on #64
Are you using the library namespace like the sample shows? `xmlns:draggable_view="http://schemas.android.com/apk/res-auto"`

[2015-06-24 15:20] JoysonF commented on #64
Yes pedrovgs, I am editing in the sample project you provided.

[2015-06-24 15:23] pedrovgs commented on #64
Can you show me the diff? I'd like to know what you've modified to get that error.

[2015-06-24 15:31] JoysonF commented on #64
Yes Sure.
<com.github.pedrovgs.DraggableView
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:draggable_view="http://schemas.android.com/apk/res-auto"
        android:id="@+id/draggable_view"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:background="@color/black"
        draggable_view:bottom_view_id="@+id/iv_

[2015-06-24 15:58] pedrovgs commented on #64
The correct attribute is:

[code]

The README.md documentation is not following the attrs.xml file: https://github.com/pedrovgs/DraggablePanel/blob/develop/draggablepanel/res/values/attrs.xml. Sorry I'm going to update it.

[2015-06-24 15:59] pedrovgs commented on #64
I've updated the README.md with the documentation updated. Is this the fix to your problem?

[2015-06-24 16:24] JoysonF commented on #64
Yes. Thanks Again For the library :+1:  .

[2015-06-24 16:46] pedrovgs commented on #64
You are welcome!

[2015-06-24 16:46] #64 closed

[2015-07-07 16:36] kriishna commented on #38
Hi Pedrovgs,

 Thanks for giving reply for my previous question, Hope you are doing well and busy with you work, i have one more doubt regarding draggable panel , if u have some free time can u clarify me ,

if we use "draggableView.setTopViewHeight(topFragmentHeight);" for top view fragment like 200 dip in  Portrait mode , when the screen is in landscape mode, still the topFragmentHeight is 200dp

[2015-07-10 02:49] dungdohoang opened #68 "View Alpha and crop problem with YoutubePlayerAndroidApi"
I'm using DraggablePanel and YoutubePlayerSupportFragment as TopFragment in my app as implemented in your sample. But I found 2 problems with this:

1. I recognize that when the DraggablePanel is minimized, the video is cropped. I tried fixing DEFAULT_TOP_VIEW_RESIZE in DraggableView to true, but the dragging animation is too lagged, not as smooth as before.

2. I setEnableHorizontalAlphaEffect(tr

[2015-07-28 08:56] pedrovgs commented on #68
We've already talked about this in other issues, Youtube Library does not support alpha or size changes, that's not a problem of the library.

[2015-07-28 08:56] #68 closed

[2015-07-29 15:23] DuongNTdev opened #69 "Question about touch to another view"
Hi pedrovgs,
I have the question about touch to another view.

I using Draggable View. In fragment, i have a seekbar. My problem is : "When i seek to seekbar, draggable view is scaled too".

Plz, help me. Thank u so much.

[2015-07-29 15:35] ppamorim commented on #69
You need to disable the touch listener of the DraggablePanel. I think this library has a method to do that.

[2015-07-29 16:21] 0xcra5hs commented on #69
sorry, i can't find that method in DraggableView

[2015-07-29 16:43] 0xcra5hs commented on #69
can you make snippet code for me, thanks u

[2015-07-30 08:34] 0xcra5hs commented on #69
thanks for support, i do solved problem.

In draggable view, declare :
private boolean isDisableDraggableView = false;

@Override public boolean onInterceptTouchEvent(MotionEvent ev) {
    if(isDisableDraggableView) return false; // -> add to this
    if (!isEnabled()) {
      return false;
    }
}

@Override public boolean onTouchEvent(MotionEvent ev) {
    if(isDisableDraggableView) return false

[2015-08-01 07:27] 0xcra5hs commented on #60
Hi sikandercb, i did try disable draggable view with the solution:
In draggable view, declare :
private boolean isDisableDraggableView = false;

@Override public boolean onInterceptTouchEvent(MotionEvent ev) {
if(isDisableDraggableView) return false; // -> add to this
if (!isEnabled()) {
return false;
}
}

@Override public boolean onTouchEvent(MotionEvent ev) {
if(isDisableDraggableView) return fa

[2015-08-02 17:23] pedrovgs commented on #60
Hi @DuongNTdev I see you already have a patch? Are you going to send a PR?

[2015-08-02 17:28] pedrovgs commented on #69
@DuongNTdev I've seen this patch in other issue and I've already asked you about a pull request so I'm going to close this one. Can you review your code and send me a PR with the changes?

Thanks!

[2015-08-02 17:28] #69 closed

[2015-08-02 17:33] pedrovgs commented on #38
Thie setTopViewHeight is a method only valid in the portrait mode. If you want to develop a landscape mode you'll have to override some of the current behavior.

[2015-08-04 07:52] sikandercb commented on #60
thanks i have already done this..:)

[2015-08-11 02:30] DuongNTdev commented on #60
Hi @pedrovgs , i dont' PR. I just only help @sikandercb  because he's have the problem like me.
I did work 2day to solved his problem.
I just only save time of him.
Thanks u

[2015-08-11 02:51] 0xcra5hs commented on #60
/*
- Copyright (C) 2014 Pedro Vicente Gómez Sánchez.
  *
- Licensed under the Apache License, Version 2.0 (the "License");
- you may not use this file except in compliance with the License.
- You may obtain a copy of the License at
  *
- http://www.apache.org/licenses/LICENSE-2.0
  *
- Unless required by applicable law or agreed to in writing, software
- distributed under the License is distribute

[2015-08-11 03:47] ppamorim commented on #60
@DuongNTdev Please remove your comment, do a fork and implement anythink that you want, then, open a pull request.

[2015-09-15 14:42] frakc commented on #38
besides overlappind, there also was issue with minimal player size for YouTubePlayerSupportFragment,which is limited to 200*110 dp. I fixed it in following way:
At first wrap frame which will hold youtube fragment and add top and bottom padding

[code]

then
change `updateScale` method in resizetransformer to

[code]

and constructor to

[code]

that will ensure that player will not be smalle then

[2015-09-15 14:42] #38 closed

[2015-10-27 14:48] tanaev commented on #49
Hi! When it will be in ready?  i saw solved problem in @ppamorim fork

[2015-11-06 16:51] ninja-tortoise opened #73 "Error on screen rotation when minimized: JNI DETECTED ERROR IN APPLICATION"
Android version 6.0
When the player is minimized and I rotate the screen I get the following error:
JNI DETECTED ERROR IN APPLICATION: JNI CallObjectMethod called with pending exception java.lang.IllegalStateException: Unable to create layer for FrameLayout

Is anyone else exeriencing this?

11-06 16:41:31.301 352-352/com.myApp A/art: art/runtime/java_vm_ext.cc:410] JNI DETECTED ERROR IN APPLICATI

[2015-11-06 17:04] ppamorim commented on #73
Tested at a 6.0 device here. No problems. Would you inform the device that happens the problem? Hardly it`s a problem with the library, but the problem can be with the beta version of Android 6.0.

[2015-11-06 17:04] sierra-delta commented on #73
Its a Nexus 6

[2015-11-06 17:06] ppamorim commented on #73
It`s hard to identify the problem with this simple log. Do you have tried to use the sample app or implemented this library on your application?

[2015-11-06 17:15] ppamorim commented on #73
This can be a problem with the beta release of the Android 6. Otherwise, try to use the sample application, if it works, wait for the stable version and test it.
This library use the most common way to perform these animations. We don't have any reason to happen this bug, we don't use any JNI code here.

[2015-11-09 22:52] sierra-delta commented on #73
Yeah this is an issue with another lib in my app. False alarm!

[2015-11-09 22:52] #73 closed

[2015-11-11 20:24] pedrovgs commented on #73
:)

[2015-11-11 22:35] ppamorim commented on #73
@pedrovgs Where are you?

[2015-11-16 22:40] bqthuan opened #75 "Dynamic change TopFragment's layout after calling initializeView"
Hi you,
After calling initializeView i cannot dynamic add view to TopFragment's layout, doesn't crash or throws any exception but  doesn't showing the added view, seem not invalidated, i also call invalidate, requestLayout for TopFragment's layout, DraggablePanel and the added view, not working at all.
Final solution that working : Calling requestLayout for BottomFragment's layout after adding vie

[2015-11-22 19:45] tanaev commented on #75
@bqthuan when you call initializeView() its called draggableView.attachTopFragment(topFragment);

void attachTopFragment(Fragment topFragment) {
    addFragmentToView(R.id.drag_view, topFragment);
  }

then

private void addFragmentToView(final int viewId, final Fragment fragment) {
    fragmentManager.beginTransaction().replace(viewId, fragment).commit();
  }
where viewId is R.id.drag_view by def

[2015-11-23 04:01] bqthuan commented on #75
@tanaev Did you test your solution? It's not working for me.

[2015-11-24 02:51] hienandroid opened #76 "Error position DraggablePanel when landscape mode !!!"
I've used attributes in Manifest.xml ( android:configChanges="orientation|screenSize|keyboardHidden" ) to my activity can't change data when change orientation. But i have a problem when i rotate device from portrait to landscape, my draggable panel have some problems. Please help me to fix this problem.
![device-2015-11-24-094456](https://cloud.githubusercontent.com/assets/2770257/11356482/be0b6c

[2015-11-24 22:17] FunnyDevs opened #77 "maximize drag problem"
Hi! After i minimize the topview dragging, i am not able to maximize dragging, but only with click. This is my layout

[code]

[2015-11-29 22:03] pedrovgs commented on #63
We should not add more dependencies to this project in order to perform any animation, we are already using Nine Old Android.

[2015-11-29 22:03] #63 closed

[2015-11-29 22:03] pedrovgs commented on #62
We could do it, but right now I'm working on other projects. Feel free to send a PR :)

[2015-12-07 04:35] Nguyenduylinh1402 opened #78 "How to Full screen draggable panel on screen rotation"
I used DraggablePanel library for my app, I used fragment view for top and bottom view so i use draggable panel. At top fragment, I have a videoview, but when i rotate to landscape mode, videoview do not full screen. First, I had changed the top height in landscape mode in (land/dimens.xml), Video was full creeen, OK, but my fragment view is destroy and Video content load again. Second I use orent

[2015-12-09 07:46] ChunJR opened #79 "Can't hook DraggableListener"
Hello, i'm using DraggablePanel but can't hook draggablelistener.. was there something wrong with my simple code:
	DraggablePanel draggablePanel;
	Fragment_Top Frag_Top;
	Fragment_Bot Frag_Bot;

	@Override
	protected void onCreate(Bundle savedInstanceState) {
		super.onCreate(savedInstanceState);
		setContentView(R.layout.activity_main);

		draggablePanel = (DraggablePanel) findViewById(R.id.dragg

[2015-12-09 07:55] Nguyenduylinh1402 commented on #79
Hi @ChunJR
@Override
protected void onCreate(Bundle savedInstanceState) {
    super.onCreate(savedInstanceState);
    setContentView(R.layout.activity_main);
    draggablePanel = (DraggablePanel) findViewById(R.id.draggable_panel);
    Frag_Top = new Fragment_Top();
    Frag_Bot = new Fragment_Bot();
//init hookDraggableListener() first.
    hookDraggableListener();
    initializeDraggablePanel();

[2015-12-09 07:58] ChunJR commented on #79
Thank you @Nguyenduylinh1402  ^^, it's work perfectly !

[2015-12-09 08:39] ChunJR commented on #78
Hi, i facing this issue too .. this is my fullscreen code:

@Override
    public void onConfigurationChanged(final Configuration newConfig) {
        // TODO Auto-generated method stub
        super.onConfigurationChanged(newConfig);

[code]

//          MyActivity.draggablePanel.initializeView(); // i used this and it fullscreen but i can't touch my mediaplayer control

[code]

[2015-12-09 08:53] ChunJR opened #80 "How to change the top view height in DraggablePanel"
Hello, like a status, is there a way to change the top view height when using DraggablePanel correctly?
i have try DraggablePanel.setTopViewHeight(anotherdimen); but it not working..
Thanks !!

[2015-12-09 09:40] ChunJR commented on #77
Hi @FunnyDevs try to use DraggablePanel replace DraggableView. It will work !

[2015-12-10 07:07] Nguyenduylinh1402 commented on #80
@ChunJR
Which exactly case you want to change top height ?
If you want change when rotate screen in landscape mode, you just create landscape file dimens.xml but it will destroy your topview and recreate it(You have to disable orientation config).

[2015-12-10 07:09] Nguyenduylinh1402 commented on #78
@ChunJR
// MyActivity.draggablePanel.initializeView(); // i used this and it fullscreen
With your code, it work with draggableView, but with draggablePannel, it not work. If you use draggablepannel, Please show me more code.

[2015-12-13 20:19] pedrovgs commented on #78
Right now the library does not support this feature. I've already opened some issues about this one, so I'm going to close this. If you want to implement full screen support without use the library I recommend you to use a different layout in landscape mode. Cheers!

[2015-12-13 20:19] #78 closed

[2015-12-13 20:20] pedrovgs commented on #80
This issue is related to the #78 so I'm going to close it, sorry.

[2015-12-13 20:20] #80 closed

[2015-12-13 20:21] pedrovgs commented on #79
As @Nguyenduylinh1402 you have to change the order :)

[2015-12-13 20:21] #79 closed

[2015-12-28 09:55] Amritpal33 opened #81 "Draggable Panel Tablet Landscape Support Tips."
I have been using DraggablePanel in phone as per the implementation and it is working perfectly fine for me.
I just want your help to understand how similar Experience can be achieved on Tablet Landscape view similar to Youtube.

I may add third fragment in right of player and proceed.It may be helpful if you guide me through the implementation.

Thanks in Advance.!

[2015-12-29 02:42] DanhDueExOICTIF opened #82 "Draggable Panel do not close when combine with viewpager"
I using Draggable Panel combine with view pager, then draggable swipe to left/right to close it is not working. Please tell me how to fix it?

[2016-01-06 17:18] pedrovgs commented on #82
I'm so sorry @DanhDueExOICTIF but with the current implementation this feature is not supported :( We have to rewrite part of the core library to support this feature you need right now.

[2016-01-06 17:18] #82 closed

[2016-01-12 16:47] redwerk commented on #62
Hi,

Here is PR #83  for this enhancement:)

Thanks for great lib!

[2016-01-20 18:50] tuncaulubilge opened #84 "Top fragment not resized properly when height is set programmatically"
I'm using a custom player as the top fragment for draggablePanel. Everything works as expected if the height is fixed in the layout file. However, if I set the height on onCreateView manually, the height is not scaled down when minimized.

I need to make sure the player works in 16:9 aspect ratio, so the following code block is run on onCreateView for top fragment:
[code]

Here are my draggablePan

[2016-01-20 20:58] tuncaulubilge opened #85 "Need to define a minimum threshold for horizontal drag when minimized"
Right now, "drag up to maximise" gesture has an small glitch, affecting user experience. In order to maximise, you have to drag the view directly up with zero movement on the X-axis,  otherwise you initiate a horizontal drag instead of a vertical one.

I tried the youtube app side by side with my own app using draggable panel. In the youtube app, maximize gesture works perfectly when I drag the vi

[2016-01-21 11:54] tuncaulubilge commented on #78
Had the same problem, solved it by moving the fragment to the parent layout:

[code]

[2016-01-29 11:01] ScottCooper92 commented on #77
I'm having the same issue, is the DraggableView broken? I would much rather use DraggableView than DraggablePanel.

Edit: I've done some digging and dragging works on 1.3 but not 1.4 and above, something changed between those two versions that prevents the top view being dragged when minimised. I'll keep looking and see what I find.

[2016-01-29 18:47] ScottCooper92 commented on #77
Ok so I've done some more testing and it turns out that the order of the top and bottom views matters, you need the bottom view to go ABOVE the top view in the xml file.

This will work:

[code]

This will not:

[code]

[2016-01-31 19:54] pedrovgs commented on #85
Hi @tuncaulubilge right now you can't configure this value. But you can send a PR with this configuration if you want :)

[2016-01-31 19:59] pedrovgs commented on #84
Hi @tuncaulubilge I need to debug the code manually to know what's going on. Can you upload a sample project with your configuration?

[2016-02-11 15:09] smedic opened #87 "Video flickering"
Hello everyone,

When video starts, there is a constant flickering no matter in which state the video window is.
I have tried a few hacks such as : http://stackoverflow.com/a/27307286/1374065 but without success.
Here (http://stackoverflow.com/questions/25322660/youtube-android-fragment-flickering) is a problem with flickering , but it lasts less than a half of a second (not my case).

Does anybod

[2016-02-12 07:21] Shuhrat-java commented on #87
I think it is because of you are using SurfaceView. Use TextureView instead of it. Problem should go away and never return back :).

[2016-02-14 11:59] pedrovgs commented on #87
Yeap @Shuhrat-java is right.

[2016-02-14 11:59] #87 closed

[2016-02-23 05:02] ameruddinjamil opened #88 "DraggableView start closeToRight() / closeToLeft()"
Hello.

I am using draggableView in my project. At the initializeDraggableView method, I already set the visibility to gone and closeToRight() which I hope when I first time click the list item, the draggableview will show an animation from right to top. But the draggableView just appear on top of the list item which is not so animated. But when I minimized the draggableView and close the draggabl

[2016-03-01 10:01] DanhDueExOICTIF commented on #82
Ok. Thank sir!

[2016-03-11 17:58] pprateek786 opened #89 "Draggable panel orientation issue"
Hello,

I am using the Draggable panel for my video application.
When the panel is minimized and user changes the orientation of device few times then the panel is not visible on the screen.
Kindly look into the issue.

[2016-04-04 20:41] yongsunCN commented on #77
@Glurt thank you for solving my problem! This should really be fixed or at least noted in the readme.

[2016-04-05 08:49] ScottCooper92 commented on #77
@yongsunCN Unfortunately I think this project might be dead, there are a lot of issues with it and the dev doesn't seem very active. Once I have some spare time I intend to write my own library that is functionally similar to the YouTube implementation and less general.

[2016-04-08 10:40] hieubeta118 opened #90 "Cannot display DraggableView"
Hi everyone,

I'm meeting this problem. I can't display my layout Item inside DraggableView.
This is my FragmentHomePage. When I click the SegmentGroup button then DraggableView will show up. But I dont know why my layout didnt show anything
`
public class Fragment_HomePage extends BaseFragment {
    /**
     * Home Page Fragment declare
     */
    private RecyclerView recyclerView;
    private S

[2016-04-11 09:22] yangxuan0261 commented on #73
I have same problem, how to fix it? plz help.

[2016-04-27 04:56] LouisLin0706 commented on #84
![screenshot_2016-04-27-12-12-34](https://cloud.githubusercontent.com/assets/11386794/14842181/5db7a28c-0c77-11e6-9b85-e8832471381f.png)

This is the problem i use the DraggablePanel 1.9 , setting topView resize "true" , there is still have some margin top for topView , Is there have any problem like this and fix it ?

[2016-05-03 16:35] x2game625 opened #91 "videos seems to stop or get cropped while minimization."
<?xml version="1.0" encoding="UTF-8"?>
<RelativeLayout

xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical">

	<com.github.pedrovgs.DraggableView
	    xmlns:draggable_view="http://schemas.android.com/apk/res-auto"
	    android

[2016-05-05 14:42] tuncaulubilge commented on #88
Could you find any solutions to this issue? Tried several methods but no luck

[2016-05-05 14:43] tuncaulubilge commented on #54
Any luck?

[2016-05-05 14:54] ameruddinjamil commented on #88
Hi there,

Nope, still no solution.
On 5 May 2016 22:43, "Tunca Ulubilge" notifications@github.com wrote:

[2016-05-05 15:03] ppamorim commented on #88
This is made by design, not a bug.

[2016-05-05 15:07] tuncaulubilge commented on #88
@ppamorim Any suggestions on how to change this? I can fork your project for this feature.

[2016-05-05 15:14] ppamorim commented on #88
You need to do some workarounds to pervent this problem. I solved this on my app doing this:
- Start the view hidden
- Call to move to close to right
- Only show the view only the method to expand the view is called.

[2016-05-05 15:26] tuncaulubilge commented on #88
Found an ugly but working solution for this issue.

The trick is, the draggableView has to be visible when you call minimize(). In my layout, I made draggableView visible with both drag views invisible.

When the draggableView global layout is called, I minimize the view and set it to invisible again in a delayed runnable. This way, when I want to display the views with maximize, the animation pla

[2016-05-06 10:30] Taranlayal10 opened #92 "setClickToMaximizeEnabled Details"
Hi
  I want to maximize the panel on single clicking  it in minimized state. I was wondering if setClickToMaximizeEnabled() is made for that purpose? or can you suggest something else.

[2016-05-06 10:37] #92 closed

[2016-05-06 14:13] yongsunCN opened #93 "DraggableListener notified at the beginning of the animation instead of animation complete"
I noticed callbacks of DraggableListener are called too early, at the moment the sliding animation begins. I need to get a notification for (onMaximized/onMinimized/onClosedToLeft/onClosedToRight ) events after the animation finishes. Any idea guys?

[2016-05-10 18:49] pedrovgs commented on #93
You can send an evento to the future using a delay or send a pull request to add the events you need :)

[2016-05-10 18:53] pedrovgs commented on #88
Sorry guys but this is the original behaviour of the library. As this is not a bug I'm closing the issue.

[2016-05-10 18:53] #88 closed

[2016-05-10 18:57] pedrovgs commented on #91
As pointed at #38 the bug is not related to the library, the bug is related to the YouTube player library. Sorry, I'm closing this issue.

[2016-05-10 18:57] #91 closed

[2016-05-10 19:09] pedrovgs commented on #77
Sorry guys, I've been out for some time :(. As @Glurt says the small view has to be ABOVE the top view in the xml file. @yongsunCN If you thing this should be in the project readme feel free to send a PR with the documentation update. Every PR is welcome.

As this issues seems to be fixed, I'm closing this issue.

[2016-05-10 19:09] #77 closed

[2016-05-10 19:13] pedrovgs commented on #89
This library does not support landscape mode yet. As this issue is duplicated I'm closing it, sorry.

[2016-05-10 19:13] #89 closed

[2016-05-18 09:15] oleynikd commented on #49
Any updates?

[2016-05-22 09:53] oleynikd commented on #54
+1. Would be great

[2016-05-30 12:35] tarunnoida opened #94 "Draggable view not sliding horizontally if used with swipable tabbed activity"
I am using this library [https://github.com/ogaclejapan/SmartTabLayout](url) to have four fragments inside a ViewPager and further i am trying to implement Draggable View in one of those fragments to provide a draggable box like in Youtube app.But the problem is when i  swipe minimized  draggable view  to left or right the fragments are swipped instead of draggable view..Help

[2016-06-15 09:30] andreimarinescu commented on #75
I'm having the same issue, I'm unable to change the view hierarchy of the top fragment. The only thing that worked indeed was calling a requestLayout on the bottom fragment with a 500 ms delay (when doing it instantly, the touch would also have issues and onMaximize would be called each time i touched the top fragment).

Any way of doing this elegantly?

[2016-06-22 11:55] Taranlayal10 opened #95 "Moving mimized Panel above SoftKeyboard"
Can you please suggest any way or idea to implement this thing as I am using your library in very high commercial app.
When Soft keyboard is shown I want to move minimized panel at the top of the keyboard and Vice Versa.  I have tried windowSoftInputModes also but it does not seem to be working.

[2016-06-26 10:08] pedrovgs commented on #95
If that approach is not working you can try detecting when the keyboard is going to be shown and then change the size of the view or move the y position. Is this the answer to your question?

[2016-06-26 10:52] pedrovgs commented on #94
Hi @tarunnoida!

Could you review which is the order in the z index used by these fragments? Maybe just changing the z index used by these fragments we can fix the issue  :)

[2016-07-07 07:16] Taranlayal10 commented on #95
Hi Perdrovgs,
  Thanks for your reply. I couldn't reply before coz I was working on some other thing. As you suggested I have tried setting the Y scale. Below is the code for that.

if (NavigationManager.getInstance().getDraggablePanel() != null && NavigationManager.getInstance().getDraggablePanel().isMinimized()) {
                    NavigationManager.getInstance().getDraggablePanel().setYTopVie

[2016-07-11 21:42] pedrovgs commented on #95
Hi @Taranlayal10 what my suggestion was to move the y position of the draggable pannel view, not invoking `setYTopViewScaleFactor` method. Sorry if I didn't explain my suggestion properly. Could you try changing the top value of the layout params associated to the draggable panel? Doing this you'll move the entire view Y position instead of change the top view scale factor.

[2016-07-13 10:44] mdtuyen opened #96 "Touch conflict"
I 'm implementing a videoview use DraggablePanel. On videoview I implement swipe up-down-left for change volume, up-down-right for change change bright and left-right for seek video.

Only a case when I swipe up-down at center for drag pannel. But now it confilic with draggable pannel. Is there a method to resolve the conflic or disable drag when I change volume, bright or seek ?

[2016-07-16 08:26] pedrovgs commented on #96
Hi @mdtuyen to be able to do that we need to write some code. Review [this file](https://github.com/pedrovgs/DraggablePanel/blob/a9282448aa6772a6d1e5bac4c6ebde78813128a9/draggablepanel/src/main/java/com/github/pedrovgs/DraggableView.java) and modify the `onTouchEvent`:)

[2016-07-23 06:21] bluedoctorhazan commented on #90
Try:
edit below line in DraggableView
draggable_view:top_view_id="@+id/frameLayout_videoView"
to
draggable_view:top_view_id="@+id/activity_video_layout"

[2016-07-29 13:34] yadav-rahul opened #97 "TastyToast Request to add"
[TastyToast](https://github.com/yadav-rahul/TastyToast)  is an Android Library which helps an user to get rid of their native Android Toast.

TastyToast helps the user by characterising the type of Toast into five main category which are success, danger, warning, info and default.

For each default category, it not only changes background and text colour but also adds tasty Custom View on the left

[2016-08-03 12:54] #97 closed

[2016-08-24 12:52] DawinderGill opened #98 "Swipe to right and to left is not working with Dragable View"
I am using dragable view.After swiping view at bottom i am not able to close view to swipe in left or right.Even c'nt able to open top view maximize with swiping from bottom. Can you please tell what to do to resolve this issue??

Thanks...

[2016-08-29 07:58] pedrovgs commented on #98
Hi @DawinderGill to be able to help you I need more information:
- Version of the library you are using.
- Layout configured using the library.
- Code initializing the library.
- Version of the Android SDK used to build the APK and the target sdk configured.

The easiest way for providing this information is to create a sample project reproducing the bug :)

[2016-08-31 06:19] prabhumallappa opened #99 "Draggable panel top fragment width does not scale to match parent in landscape mode"
Hi ,

I am using draggable panel with videoView on top fragment and some listview on bottom fragment.
everything works perfect in portrait mode. But in landscape mode top fragment width is not occupying full screen.

I have attached both screenshots for your reference. Please help me to fix this issue.

![portriat](https://cloud.githubusercontent.com/assets/15420573/18118178/da31ee42-6f70-11e6-9d2

[2016-08-31 08:49] pedrovgs commented on #99
Hi @prabhumallappa the landscape mode is not supported. The portrait gap you have between the top view and the bottom view has to be related to the bottom view margin or padding, please review it and tell me if that's your error or the problem is related to the library implementation.

[2016-08-31 09:46] prabhumallappa commented on #99
Hi @pedrovgs , I know about the portrait gap. My issue is to support the library in landscape mode. When I rotate the device to landscape mode, the top fragment width is not taking full screen. This  happens  if I use draggable panel. But if I use draggable view from your library, the top view width takes full screen but the top view resizes and hence it does not look good .

So if I  use draggabl

[2016-09-13 17:45] DawinderGill commented on #98
Hi
Thanks for reply.
That issue is resolved but these are some new issues.
1. I am using video view in top dragable view. Can you please tell me how
to make this video view fullscreen on button click because it creates
problems when we make ot full screen.
2. Is the any option in this library to disable dragable method because i
want to disable dragable functionality when user on landscape mode.

[2016-09-15 15:08] Blackquan commented on #98
Hi,
I got a same issue, can you tell me how to fix

For more info:
- compileSdkVersion 23
- buildToolsVersion "23.0.2"
- minSdkVersion 16
- targetSdkVersion 23
- compile 'com.github.pedrovgs:draggablepanel:1.9'

[2016-09-15 15:15] DawinderGill commented on #98
Right now issue is not resolved. Will tell you if i got any solution.

On Thursday 15 September 2016, Black Quan notifications@github.com wrote:

[2016-09-15 15:57] DawinderGill commented on #99
Hi @pedrovgs

I am also facing same issue. Please tell me if you found any solution.
Thanks

[2016-09-15 15:59] prabhumallappa commented on #99
No I didn't get any solution.

On Sep 15, 2016 9:27 PM, "DawinderGill" notifications@github.com wrote:

[2016-09-15 16:02] DawinderGill commented on #99
No problem i future if you got any please tell. For the timing i am going to next activity to make videoview landscape but by this we are not able to play buffered video in portrait mode. We can just seek video and prepare it again. ;(

[2016-09-15 16:06] DawinderGill commented on #98
Yes @Blackquan for right or left wipe i am using dragable view and i have implement all again with reference of this library sample. Then this problem have been solved. You can also try this. :)

[2016-09-15 16:09] Blackquan commented on #98
this library sample?

Can you explain in detail? Sorry i am newbie

[2016-09-15 16:11] DawinderGill commented on #98
No problem bro.
Yes this sample.

On Thursday 15 September 2016, Black Quan notifications@github.com wrote:

[2016-09-15 16:37] Blackquan commented on #98
i just did it, still not work for me :(

[2016-09-15 16:41] DawinderGill commented on #98
You are using dependecy or import library??

On Thursday 15 September 2016, Black Quan notifications@github.com wrote:

[2016-09-15 16:46] Blackquan commented on #98
already in 2 way :(

[2016-09-15 16:50] DawinderGill commented on #98
Ok friend
I am not sure about this but this library having this issue. First time i
have also face this problem. After that i have implement 4th type in sample
i.e where they play spiderman movie trailer. Try that one once hope this
will be solved.
Otherwise you have to talk with support team.

On Thursday 15 September 2016, Black Quan notifications@github.com wrote:

[2016-09-27 15:09] billyjoker opened #101 "Fragment setRetain"
Hi, i'm trying to use the fragment setRetain function with your DragggablePannel with no success, is there any trick to perform this feature? I've tried to reproduce this little example: [https://github.com/bcorso/android-retain-fragment](url)

[2016-10-08 02:20] manhhoangxuan opened #102 "Cannot move Top player down/up when bottombar hide/show"
Dear All,
I am facing a problem with Bottombar tab with Top player of DraggablePanel

I cannot move Top player by setTopFragmentMarginBottom dynamically when bottombar show or hide

Is Anyone using DraggablePanel with Bottombar successful?

Thanks in advanced!

[2016-10-11 02:07] GaNhep commented on #98
I finally fixed this "bug", but don't know why this happen.
follwing the examples, if you have the top layout (A) and the bottom layout (B) inside the draggble view layout, there are 2 way to arrange them.
1: draggbleView(A, B) -> couldn't work
2: draggbleView(B,A) -> it works like a champ
can anyone explan why?

[2016-10-29 06:57] oiramcro commented on #85
Hi, please implement this since this I quite annoying.

Thanks very much

[2016-10-30 14:17] gkarthikchess opened #103 "can't set minimum drag detection threshold for vertical dragging in video view"
How can I set the drag detection as in youtube?? Any sample code that i can reference to??

[2016-11-21 15:42] salvadorjhai opened #104 "DraggableView topview and bottom view at runtime"
Hi! i need help on DraggableView.

How do i set topview and bottomview at runtime? (not using xml layout)

Can we have something like:
DraggableView.AddToTopView(View v)
DraggableView.AddToBottomView(View v)

Im no expert in java so anyone would like to help?

[2016-11-23 13:24] royalviki007 commented on #81
Hi,
I wanted to achieve diagonal slide animation similar to youtube.

I have made  changes on updatePosition method in ScaleTransformer class to calculate the new pivotX for landscape mode to drag the top fragment diagonally.

public void updatePosition(float verticalDragOffset) {
            float maxScaleFactor = (1 - (1 / getXScaleFactor()));
            int actualWidth = (int) getMinWidthPlusM

[2016-11-28 10:28] fukemy opened #105 "DraggableView how to first show with animation"
Hello. Your library is so helpful for me. Now i find way to make first time this Draggable View show with animated like maximize.
Do your code support for it? Thanks :)

[2016-12-06 19:47] b00n12 opened #106 "Touchable area of minimized dragview does not fit view"
It seems like the touchable area of the minimized dragview is shifted towards the bottom. I am able to swipe the minimized dragview to left and right by touching beneath it. At the same time, if i touch slightly beneath the top of the dragview there is no swipe possible. As a result it is not possible to click ui elements beneath the dragview cause they are registered as touch events on the dragvi

[2016-12-20 17:36] jruh23 commented on #95
Hi,

I have a solution for this in my fork.

[2016-12-23 13:20] Shajeel-Afzal opened #108 "Not able slide or maximise DraggableView once minimized"
I am using this library to show YouTube like VideoView at the right bottom. I have used `DraggableView` for that. The problem is that I am not able to drag it up to maximize or slide it left or right to close it. My layout is shown below:

[code]

Am I missing any step?

Regards
Shajeel

[2016-12-23 18:37] pedrovgs commented on #101
Hi @billyjoker sorry for the delay, I've been working on other projects for some time. I can't see your example right now could you describe what's the problem you have with the fragment? Do you have any error or exception thrown by the SDK when the fragment is configured as retain instance state?

[2016-12-23 18:59] pedrovgs commented on #102
Hi @manhhoangxuan sorry for the late response. I've been working on other projects for some time.

Remember you can adjust the height of your fragment and pin it to the top of your screen. You can also move the bar to the first layer of your UI so it's drawn in top of any other fragment. This last option depends on your bar implementation.

Is this the answer to your question?

[2016-12-23 19:05] pedrovgs commented on #103
Hi @gkarthikchess this feature is not supported right now. It could be a nice contribution :)

[2016-12-23 19:12] pedrovgs commented on #104
Hi @salvadorjhai sorry for the late response. You can configure your fragments easily using the methods indicated in the project README.md

[code]

[2016-12-23 19:12] #104 closed

[2016-12-23 19:16] pedrovgs commented on #105
The feature you suggest it's not implemented right now. A workaround is to minimize the view when it's created and keep is as invisible until you want to show it. That will show you an animation and the view at the same time.

[2016-12-23 19:38] pedrovgs commented on #108
Hi @Shajeel-Afzal. Looking at your layout I can't see any obvious error. Could you create a sample project reproducing the issue so we can review what's going on?

[2016-12-24 03:36] manhhoangxuan commented on #102
Thanks for your responding Mr @pedrovgs
First problem, i have move my bottombar to first layer (as you said) and this problem is ok
However, the second problem is "Cannot move Top player down/up when bottombar hide/show" by  setTopFragmentMarginBottom still not working.
I would like move Top Miniplayer down/up when my bottombar hide/show (i have attacked screen shot for more clear) but i can't ( I

[2016-12-24 04:37] srikanthsunkari commented on #95
hi @b00n12, I check in your fork I could see that draggable panel still behind the keypad. It can't move up of keypad. It'd be really helpful if you point me where to find the change in your fork.

[2016-12-24 07:33] SarthakJoshi opened #109 "top view resize isn't working in draggable panel"
Hello, I'm trying to implement draggable panel in an activity, in which user can select a video to play from list view. Video will be initialized in maximized view. Everything is working as expected, till this part. As soon as the user minimize the top view of the panel, video player dimensions doesn't change. I've tried using top_view_resize attribute, but no effect. How can I use draggable view'

[2016-12-24 11:27] pedrovgs commented on #109
@SarthakJoshi review other issues open in this repository. Depending on the video view you are implementing the library is going to resize it or not. There are some Android SDK APIs which doesn't support resize. Sorry I'm closing this issue because it's duplicated.

[2016-12-24 11:27] #109 closed

[2016-12-24 11:28] pedrovgs commented on #102
As I can see in your screenshot you have to adjust the fragment or the draggable view/ draggable panel height. You can use animations when needed.

[2016-12-24 11:28] #102 closed

[2016-12-25 10:47] SarthakJoshi opened #110 "YouTube video playback stopped due to unauthorized overlay on top of player"
As soon as the draggble view is minimized, the youtube player is throwing this error:

W/YouTubeAndroidPlayerAPI: YouTube video playback stopped due to unauthorized overlay on top of player. The YouTubePlayerView is not contained inside its ancestor android.widget.FrameLayout{ff4ae6b V.E..... ......I. 0,0-406,228}. The distances between the ancestor's edges and that of the YouTubePlayerView is: le

[2016-12-25 16:54] pedrovgs commented on #110
This old bug could be fixed changing how the view is being resized but I can't do it soon. Now I'm working on a different project.

[2016-12-25 16:56] SarthakJoshi commented on #110
What can I do about this bug?

[2016-12-25 17:01] pedrovgs commented on #110
You can enable the "show layout bounds" development option on your device and change the lib fixing the views overlap.

[2016-12-26 01:57] manhhoangxuan commented on #102
Hi @pedrovgs
As you see, i have  setTopFragmentMarginBottom(60dp) from start for miniplayer above bottom menu
However, when bottom menu is hide, i have used setTopFragmentMarginBottom(0) to move down Miniplayer but it's not working
Do you have any solution here?
Thanks

[2016-12-26 11:13] pedrovgs commented on #102
@manhhoangxuan did you invalidate the view after calling that method?

[2016-12-26 11:54] manhhoangxuan commented on #102
Hi @pedrovgs
I have called this code to move down miniplayer
mContainerDraggable.setTopFragmentMarginBottom(0);
mContainerDraggable.invalidate();

And this code to move up miniplayer
mContainerDraggable.setTopFragmentMarginBottom(getResources().getDimensionPixelSize(R.dimen.top_fragment_margin_x));
mContainerDraggable.invalidate();

However, It's not working, miniplayer position is nothing changed

[2016-12-28 02:26] manhhoangxuan commented on #102
Hi @pedrovgs
Please help
Do you have any solution for this problem?

[2016-12-28 18:20] pedrovgs commented on #102
@manhhoangxuan right now I'm working on a different project. I don't have a quick fix for this. Sorry. If you have time you can always send a PR with the fix. Any contribution is always welcome :)

[2017-01-01 16:49] jruh23 commented on #95
Hi, i use the KeyBoardVisibilityEvent library in order to move the draggableview above the keyboard. So you have to set a listener for keyboardvisibilityevent to get it working:
`KeyboardVisibilityEvent.setEventListener(this, draggableView);`

I will provide an example and issue a pull request as soon as I have time.

[2017-01-02 06:39] srikanthsunkari commented on #95
Hi @b00n12,Thanks for update, It would be great if you will give pull request as soon as possible.

[2017-01-05 03:06] cuong95nddev commented on #99
Have any solution for this problem?
Thank

[2017-01-13 07:50] usmanrana07 opened #111 "In DraggablePanel height of topView is not changing"
In DraggablePanel setting the TopView height is not working. I've tried to set this proerty in btoh in java and xml files but no gain. What could be the issue?

[2017-02-06 06:44] BoBoMEe opened #112 "can`t work in fragment"
i`m very sorry, when i use draggablepanel in fragment ,and then the small panel can`t close to left and close to right!

[2017-02-08 07:59] #112 closed

[2017-02-20 13:02] nitinrana commented on #108
I have the same problem. I am not able to slide or maximize DraggableView once minimized. Could you please help me to solve this problem.

[2017-02-20 13:04] nitinrana opened #113 "Not able to slide or maximize DraggableView once minimized"
I am not able to slide or maximize DraggableView once minimized. Could you please help me to solve this problem.

[2017-02-22 04:31] adesueb commented on #108
hi all,
the important thing is your video must specified on bottom
and your background or description view is specified on top and do not forget to add
          android:layout_below="@+id/drag_view to your description"
(drag_view is not in your layout xml but do not make it confuse, just add it)

the video must specified on bottom but actually your video is on top of description. So the simple sa

[2017-02-23 06:53] nitinrana commented on #108
This is my project layout .  Could you please help me to solve this problem.
`<RelativeLayout` xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/ll_container"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/white">

    <ListView
        android:id="@+id/list_view"
        android:layout_width="match_pare

[2017-02-23 07:24] adesueb commented on #108
[code]

i hope that will help you..

[2017-02-23 08:01] nitinrana commented on #108
Image 1:
(https://cloud.githubusercontent.com/assets/19172151/23249448/7489a776-f9ca-11e6-8df1-79b1fe407f40.png)

Image 1 using this layout
`ListView
    android:id="@+id/list_view"
    android:layout_width="match_parent"
    android:layout_height="fill_parent"
    android:dividerHeight="1dp"

</ListView>`

image 2:
(https://cloud.githubusercontent.com/assets/19172151/23249494/a8dec1aa-f9ca-11e6-9

[2017-02-23 10:10] nitinrana commented on #108
Thank you

[2017-02-23 11:19] adesueb commented on #108
you're welcome..

[2017-02-25 20:57] coderbhupendra opened #114 "the top view on minimization sometimes does not minimize to fullest"
I also got similar problem,, the top view on minimization sometimes does not minimize to fullest.
This is my draggableview xml:
[code]
Below are the screen shot.
![screenshot_2017-02-24-21-52-27-424_com example berry sellerapp](https://cloud.githubusercontent.com/assets/6554609/23312593/56e04bd2-fae0-11e6-8396-e52d3aae7393.png)
![screenshot_2017-02-24-21-52-10-777_com example berry sellerapp](http

[2017-02-26 12:08] vtproduction opened #115 "Disable vertical drag"
In my project, my top view is almost full screen, then the vertical drag gesture is sometime weird. Can i prevent the minimize/maximize feature by drag guesture (only using click). Thank you!

[2017-03-06 07:03] coderbhupendra opened #116 "How to Disable the closing of draggableview by clicking top view when its maximized."
How to Disable the closing of draggableview by clicking top view when its maximized but should be able to maximize from minimized view on click.

[2017-03-24 04:17] jawaklagi opened #117 "Disable drag Close left or right"
how to disable the close on drag left or right?

[2017-03-27 12:57] pedrovgs commented on #117
If I'm not wrong, this feature is not implemented. As you can see [here](https://github.com/pedrovgs/DraggablePanel#customization), there is a flag you can enable or disable to configure the alpha effect applied during the horizontal drag. But the feature you request is not implemented.

[2017-03-29 15:29] Johannes11833 commented on #60
this works
`  draggableView.setOnTouchListener(new View.OnTouchListener() {
                    @Override
                    public boolean onTouch(View v, MotionEvent event) {
                        if (getResources().getConfiguration().orientation == Configuration.ORIENTATION_LANDSCAPE) {
                            mMediaController.dispatchTouchEvent(event);
                            return

[2017-04-03 08:35] Ambilash opened #118 "Navigation Drawer is not working"
I'm using this library to develop an application with navigation drawer and draggablepanel in the main activity by default its visibility is set gone but when dragabble pannel is visible the navigation drawer is only opening and closing no menu item is selected it is not even scrolling...

[2017-04-14 10:34] usmanrana07 commented on #78
@tuncaulubilge your solution works.

[2017-04-16 19:40] pedrovgs commented on #113
Hi @nitinrana, sorry for the late response. If you don't provide me more information about how to reproduce your bug, helping you is going to be really hard.

I need this information:

* Steps to reproduce your bug. A gif or a video could be great.
* Library version being used.
* Library configuration in your project.
* Layout configuration in your project.

*** It could be great if you can create

[2017-05-02 20:16] ghobolds commented on #115
@vtproduction Have you found a solution for this?

[2017-05-02 23:40] vtproduction commented on #115
Not yet.

[2017-05-03 13:49] #118 closed

[2017-05-10 20:12] wellyogui opened #119 "Draggable is cropping the image"
When I do the onMinimized(), the draggable is cropping the image.

[2017-05-17 13:59] bakikocak opened #120 "Resources$NotFoundException while starting the sample app"
I have downloaded the code and tried to run sample app. I was not able to run it as I got the message below. I tried clean and rebuild since it was suggested on several pages but did not work out. Any help appreciated. Thanks.

Note that `MainActivity.java:35` refers to `setContentView(R.layout.activity_main);`

The error i got:

`05-17 16:48:36.458 17498-17498/? E/AndroidRuntime: FATAL EXCEPTION:

[2017-05-23 11:28] thushcapone commented on #110
Hello @pedrovgs.
First things first, thank you for this amazing library.
As for this bug that am encountering now, I don't understand the issue, can you explain it to me to help me solve it  as If I understand you already know about it!

[2017-05-23 11:34] DohaBasem opened #121 "how can to lock horizontal swipe?"
I need to lock the horizontal swipe ,or I need to find a way such that the draggable panel will not disappear when I swipe left or right.

[2017-05-24 12:50] Ambilash commented on #38
Hi frank,
    I have tried what you mentioned i am able to get resize transformer with youtube fragment but when minimized it seams that touches on minimized view is not recognized.It is not sliding to right or left for close its only maximizing.Can you update your code to sample.

[2017-05-26 12:08] bakikocak commented on #120
I am able to install and run the sample app by typing following command in Android Studio:
./gradlew installDebug

[2017-05-26 12:08] #120 closed

[2017-05-26 12:23] bakikocak opened #122 "Listener while dragging the DraggableView"
As I have seen, we have some listeners for following cases:

- onMaximized
- onMinimized
- onClosedToLeft
- onClosedToRight

I would like to know if there is a listener that is called when we start or leave to drag the draggableView. As far as I know, ViewDragHelper has onViewReleased callback method but i could not find something like it here.

[2017-05-29 13:08] jbmlaird opened #123 "Can't convert value at index 5 to dimension: type=0x12"
This stacktrace appears when trying to call `initializeView()` for the first time.

[code]

This refers to line: `this.marginRight = attributes.getDimensionPixelSize(5, 30);` and I have tried overriding `marginRight` in both XML and code.

[2017-05-29 13:32] jbmlaird commented on #123
To avoid the issue I downloaded a local copy of the repository and removed the NineOldAndroids dependency and it worked as expected.

This is just a band-aid and am curious for a proper fix.

[2017-06-01 11:08] jbmlaird commented on #121
Commenting out the `clampViewPositionHorizontal` override method will disable horizontal swiping.

[2017-06-03 09:40] ceddyb opened #124 "Restore view after swiped?"
How do i bring back the view after swiping it?

[2017-06-12 17:13] pedrovgs commented on #124
@ceddyb you have methods to maximize the view. You should configure any view listener and invoke the maximize method when needed. I hope, this is the answer to your question.

[2017-06-12 17:13] #124 closed

[2017-06-19 08:50] bakikocak commented on #122
Looks like nobody has any idea on this.

[2017-06-29 09:29] duckhanh1108 opened #125 "enable_click_to_maximize_view = true is not working when i set TopViewMarginBottom programmatically"
My code is below
`<com.github.pedrovgs.DraggableView xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:draggable_view="http://schemas.android.com/apk/res-auto"
        android:id="@+id/draggable_view"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="@color/transparent"
        android:visibility="gone"

[2017-07-12 06:06] rajeshkumar-sw commented on #113
In "isMinimized()" method of "DraggableView" class, replace

     return isDragViewAtBottom() && isDragViewAtRight();

that above line with

    return isDragViewAtBottom();

[2017-07-17 12:37] Swapnildhamale92 commented on #38
Hi Frakc,
I implemented your suggestions but the top video fragment is going below the screen,its not position well and also when minimized it seams that touches on minimized view is not recognized.It is not sliding to right or left for close its only maximizing..

[2017-08-01 12:04] PankajSavaliyaGit opened #126 "How To handle Once Orientation change in this Panel?"

[2017-08-02 13:33] hzandi commented on #119
for me Dragable is cropping the video and scaleFactor not working :(

[2017-09-22 09:59] shuBomb commented on #108
@adesueb  : Thanks alot dude

[2017-09-26 18:05] lucazin opened #127 "Move player around the screen"
Hello !
First congrats for the project!

Someone can help me ?
How can i move the player around the screen ? (better in all screen)  not just left ou right side. in the bottom.. but move to center, top..down ..left, right..

Sorry for my poor english!

[2017-09-28 12:42] awaistoor commented on #119
Did anyone manage to find any solution for this?

[2017-10-21 13:57] yabasi commented on #55
Did you solve the problem ?

[2017-10-26 17:08] rogerp91 opened #128 "Add ScrollView or NestedScrollView"
Hi ... It is possible to add or make compatible with a ScrollView or NestedScrollView with the draggable Panel, for the user can move the image, video or top component (view_suspensible: top_view_id) when scrolling up and down.

[2017-10-28 06:58] hirenpatel868 opened #129 "After Android studio update to 3.0 getTop view on nullPointer Exception"

[2017-10-30 07:28] hasssanshah7864 opened #130 "After updating android studio to 3.0 faced this problem"
10-30 12:12:17.610 26881-26881/? I/art: Late-enabling -Xcheck:jni
10-30 12:12:17.696 26881-26881/com.kidsapp W/System: ClassLoader referenced unknown path: /data/app/com.kidsapp-2/lib/arm
10-30 12:12:17.700 26881-26881/com.kidsapp D/ActivityThread: BIND_APPLICATION handled : 0 / AppBindData{appInfo=ApplicationInfo{32a37bc com.kidsapp}}
10-30 12:12:17.701 26881-26881/com.kidsapp V/ActivityThread: H

[2017-11-04 08:52] tainangtk9 commented on #98
follwing the examples, if you have the top layout (A) and the bottom layout (B) inside the draggble view layout, there are 2 way to arrange them.
1: draggbleView(A, B) -> couldn't work
2: draggbleView(B,A) -> it works like a champ
can anyone explan why?

it's working 👍  many thank you GaNhep!! i dont know why

[2017-11-09 15:23] sandmanDev opened #131 "After updating Android 3.0"
android.view.InflateException: Binary XML file line #0: Binary XML file line #0: Error inflating class com.github.pedrovgs.DraggableView
                                                                          at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2924)
                                                                          at android.app.ActivityThread.handleL

[2017-11-18 10:04] tuananhdtu opened #132 "How to bring DraggablePanel overlay all activity"
Hi

I try add  DraggablePanel to windowmanager with type_system_overlay
but thought exeption
java.lang.IllegalArgumentException: No view found for id for dragview and second_view

Please help me.

[2017-11-21 12:58] GitEliteNovice opened #133 "I am getting this error in Fragment Are you missing a call to unregisterReceiver()? on mzimizing or orentation change.Activity view.com.youtubeviewdesign.MainActivity has leaked IntentReceiver view.com.youtubeviewdesign.player.BasePlayer$1@5398cb0 that was originally registered here."

[2017-11-21 19:48] #133 closed